services:
  dashy:
    image: lissy93/dashy:latest
    container_name: dashy
    restart: unless-stopped
    volumes:
      - ./data:/app/user-data
    ports:
      - 17054:8080
    environment:
      - NODE_ENV=production
